<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="homepage">

  {% include homepage_header.html %}
  
  {% include banner.html %}
  
  {% include carousel.html %}
  
  {% include article_homepage.html %}
  
<!-- Features -->
  <div class="wrapper style1">
    <section id="features" class="container special">
      <header>
        <h2>Morbi ullamcorper et varius leo lacus</h2>
        <p>Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.</p>
      </header>
      
      {% include products.html %}
      
    </section>
  </div>
  
  {% include footer.html %}
  
</body>
</html>
