<!DOCTYPE html>
<html>

  {% include head.html %}

<body class="left-sidebar">
  
  {% include header.html %}
  
  <div class="wrapper style1">

    <div class="container">
      <div class="row double">
        
        {% include sidebar.html %}
        
        <div class="8u skel-cell-important" id="content">
          <article id="main">
            
            {% include article.html %}
            
          </article>
        </div>
      </div>
      <hr />
      
      {% include products.html %}
      
    </div>
  </div>
  
  {% include footer.html %}
  
</body>
</html>
