<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      
      <!-- Tweets -->
        <section class="4u">
          <header>
            <h2 class="icon fa-twitter circled"><span class="label">Tweets</span></h2>
          </header>
          <ul class="divided">
            <li>
              <article class="tweet">
                Twitter integration in progress..
                <span class="timestamp">5 minutes ago</span>
              </article>
            </li>
            <img src="/images/construction.gif">
          </ul>
        </section>

      <!-- Blog -->
        <section id="posts" class="4u">
          <header>
            <h2 class="icon fa-file circled"><span class="label">Blog</span></h2>
            <h3>Blog</h3>
          </header>
          <ul class="divided">
            {% for post in site.posts %}
              <li>
                <article class="post stub">
                  <header>
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                  </header>
                  <span class="timestamp">{{ post.date | date: "%b %-d, %Y" }}</span>
                </article>
              </li>
            {% endfor %}
          </ul>
        </section>

      <!-- Team -->
        <section class="4u">
          <header>
            <h2 class="icon fa-male circled"><span class="label">The team</span></h2>
            <h3>The team</h3>
          </header>
          <div class="row quarter no-collapse">
            <div class="6u">
              <center>
                <a href="https://michielbdejong.com/" class="image fit">
                  <img class="circled" src="/images/michielbdejong.png" alt="" />
                  Michiel b de Jong
                </a>
              </center>
            </div>
            <div class="6u">
              <center>
                <a href="http://pierre-o.fr/" class="image fit">
                  <img class="circled" src="/images/pierreozoux.jpg" alt="" />
                  Pierre Ozoux
                </a>
              </center>
            </div>
          </div>
        </section>

    </div>
    <hr />
    <section id="cta" class="contact">
      <h2>Subscribe to our NewsLetter</h2>
      <p>We'd love to let you informed when we reach significative milestones on our project, if you too, please subscribe!</p>
      <form>
        <div class="row half">
          <div class="4u -3u">
            <input name="email" id="email" placeholder="Email Address" type="email">
          </div>
          <div class="2u">
            <input value="Subscribe" class="fit" type="submit">
          </div>
        </div>
      </form>
    </section>
    <div class="row">
      <div class="12u">
        
        <!-- Contact -->
          <section id="contact" class="contact">
            <header>
              <h3>We're also social :)</h3>
            </header>
            <p>If you want to contact us, or follow us, we have a lot of options for you!</p>
            <ul class="icons">
              {% if site.twitter_username %}
                <li><a rel="me" href="https://twitter.com/{{site.twitter_username}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              {% endif %}
              {% if site.github_username %}
                <li><a rel="me" href="https://github.com/{{site.github_username}}" class="icon fa-github"><span class="label">GitHub</span></a></li>
              {% endif %}
              {% if site.googleplus_username %}
                <li><a rel="me" href="https://google.com/+{{site.googleplus_username}}" class="icon fa-google-plus"><span class="label">GooglePlus</span></a></li>
              {% endif %}
              {% if site.facebook_username %}
                <li><a rel="me" href="https://facebook.com/{{site.facebook_username}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
              {% endif %}
              {% if site.email %}
                <li><a rel="me" href="mailto:{{site.email}}" class="icon fa-envelope-o"><span class="label">Facebook</span></a></li>
              {% endif %}
              {% if site.irc %}
                <li><a rel="me" href="irc://chat.freenode.net/{{site.irc}}" class="icon" title="IRC: #{{site.irc}}">#<span class="label">IRC</span></a></li>
              {% endif %}
            </ul>
          </section>
        
        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li><img src="/images/cc-zero.svg"></li>
              <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>
        
      </div>
    
    </div>
  </div>
</div>
