<div class="wrapper style2">

  <article id="main" class="container special">
    <header>
      <h2>Our Infrastructure</h2>
      <p>
        Our infrastructure is based on <a href="https://coreos.com">CoreOS</a> a tiny linux made for massive applicaiotns deployement. It contains a Linux kernel, systemd, docker and etcd, a distributed key value store.
      </p>
      <a href="#" class="image featured"><img src="/images/coreos.png" alt="" /></a>
    <p>
      You can be an IndieHoster also, just clone our github repository, vagrant up, and you try it up!
    </p>
    </header>
    <footer>
      <a href="#cta" class="button">Stay in touch!</a>
    </footer>
  </article>

</div>
