<div class="wrapper style1">
  <section id="features" class="container special">
    <header>
      <h2>The Product</h2>
      <p>Sign-up will be as easy as possible, including the domain name registration, DNS setup, and TLS certificate installation.</p>
    </header>
    <div class="row">
      {% for product in site.products %}
      <article class="4u special">
        <div class="image featured product" style="background-image: url({{ product.image }});">
          <i class="fa {{ product.icon }}"></i>
        </div>
        <header>
          <h3>{{ product.title }}</h3>
        </header>
        <p>
          {{ product.description }}
        </p>
      </article>
      {% endfor %}
    </div>
  </section>
</div>
